<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset-password</title>
</head>

<body>
    <form action="https://backend-notion-clone.herokuapp.com/{{token}}" method="post">
        <p>Enter new password: <input name="password" type="password" required="required" /></p>
        <button type="submit">submit</button>
    </form>
</body>

</html>